{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <div class="row my-2" style="float: right;">
        <div class="col-2">
            <select class="form-control so" id = "option" style = "appearance: menulist; width:120px;">
                <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순🕑‍</option>
                <option value="recommend" {% if so == 'recommend' %}selected{% endif %}>추천순👍</option>
                <option value="popular" {% if so == 'popular' %}selected{% endif %}>댓글순💭</option>
                <option value="mostviewed" {% if so == 'mostviewed' %}selected{% endif %}>조회순👀</option>
            </select>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center table-dark">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>추천수</th>
            <th>글쓴이</th>
            <th>작성일시</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="text-center">
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td class="text-start">
                <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                {% if question.answer_set.count > 0 %}
                <span class="text-danger small mx-2">{{ question.answer_set.count }}</span>
                {% endif %}
            </td>
            <td> <span class="text-danger small mx-2">{{question.voter.count}}</span></td>
            <td>{{ question.author.username }}</td>
            <td>{{ question.create_date }}</td>
            <td>{{ question.view_number }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <!-- 질문등록버튼 & 검색 -->
    <div class="row my-3">
        <div class="col-2">
            <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>
        </div>
        <div class=" col-4" style="margin-left: 220px;" >
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 첫페이지 -->
        {% if question_list.number >= 5 %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.1 }}"
               href="javascript:void(0)"> << </a>
        </li>
        {% endif %}
        <!-- 이전페이지 -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.previous_page_number }}"
            href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-3 and page_number <= question_list.number|add:3 %}
        {% if page_number == question_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.next_page_number }}"
           href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true"
           href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
        <!-- 끝페이지 -->
        {% if question_list.number <= question_list.paginator.num_pages|add:-4 %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.paginator.num_pages }}"
               href="javascript:void(0)"> >> </a>
        </li>
        {% endif %}

    </ul>
    <!-- 페이징처리 끝 -->

</div>
<form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}
{% block script %}

<script type='text/javascript'>


const so_select = document.getElementById("option");
so_select.addEventListener('change', function() {
    document.getElementById('so').value = document.getElementById('option').value;
    document.getElementById('searchForm').submit();
});

const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>
{% endblock %}